:root {
    --main-bg: teal;
    --link-color: #FFF;
    --main-link-color: #848487;
    --light-bg: grey;
    --separator-color: #DDD;
}

* {
    box-sizing: border-box;
}

body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}