
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

*{
    font-family: 'Yusei Magic';
}
h1{
    text-align: center;
    background-color: darkgreen;
    color: darkred;
    padding-left: 0;
    padding-right: 0;
}

.jumbotron {
    background-size: cover;
   ;
}

.container {
    background-color: red;
    background-size: 100%;
    opacity: 90%;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: auto;
    padding:0;
}
h2{
color: #FFFFFF;
}

.list-group {
    list-style: none;
}

.card-deck {
    width: 100%;
}
.card-header {
    background-color: green;
}



.dropdown-header {
    background-color: darkred;
}



.display-4 {
    background: white;
    background-size: 100%;
    opacity: 80%;
}