
/** {*/
/*    box-sizing: border-box;*/
/*}*/


body {
    color: #444;
    font: normal 16px Helvetica, Arial, sans-serif;
    text-align: center;
}



#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game {
    position: relative;
    display: inline-grid;
    background: black;
}

.game-status {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 5px darkblue solid;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

#score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: 5px darkblue solid;
    background: black;
    margin-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

#start-button {
    margin-top: 20px;
}

.hide {
    display: none;
}

.square {
    display: block;
}

.blank {
    background: black;
}

.wall {
    border: 1px solid blue;
}

.dot {
    background: white;
    border: 8px solid black;
    border-radius: 50%;
}

.pill {
    background: white;
    border: 5px solid black;
    border-radius: 50%;
}

.ghost {
    position: relative;
    border-radius: 10px 10px 2px 2px;
    border: none;
}

.ghost::before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    background: black;
    border-radius: 50%;
    left: 3px;
    top: 5px;
    border: 2px solid white;
}

.ghost::after {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    background: black;
    border-radius: 50%;
    right: 3px;
    top: 5px;
    border: 2px solid white;
}

.scared {
    background: blue !important;
}

.blinky {
    background: red;
}

.pinky {
    background: pink;
}

.inky {
    background: cyan;
}

.clyde {
    background: orange;
}

.pacman {
    background: yellow;
    border: none;
    border-radius: 50%;
    clip-path: polygon(
            0 0,
            20px 0,
            20px -5px,
            8px 10px,
            20px 25px,
            20px 20px,
            0 20px
    );
    animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
    50% {
        clip-path: polygon(
                0 0,
                20px 0,
                20px 10px,
                8px 10px,
                20px 10px,
                20px 20px,
                0 20px
        );
    }
}



.code {
    font-size: 18px;
    font-weight: bold;
}

.code span {
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(left,  #cccccc 0%, #eeeeee 50%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cccccc), color-stop(50%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #cccccc 0%,#eeeeee 50%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #cccccc 0%,#eeeeee 50%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #cccccc 0%,#eeeeee 50%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to right,  #cccccc 0%,#eeeeee 50%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */

    box-shadow: 1px 0 0 #efefef inset, -1px 0 0 #efefef inset;
    border: 1px solid #bbb;
    border-bottom: 4px solid #aaa;
    border-radius: 3px;
    display: inline-block;
    height: 24px;
    padding: 5px;
    margin: 0 1px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 24px;
}