@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Yusei+Magic&display=swap');


h1 {
    font-family: 'Pacifico', cursive;
    color: palevioletred;
}

.jumbotron {
    background-size: cover;
    text-align: center;
}




h2 {
    font-family: Baskerville;
}

ul {
    font-family: "American Typewriter";
}

h4 {
    font-family: "American Typewriter"
}


p {
    font-family: Baskerville;
}