:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}
.top-nav {
    background: var(--light-bg);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-item {
    display: inline-block;
    padding: 1.5em;
}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);
}
.profile {
    background: var(--light-bg);
    height: 80px;
    position: relative;
}
.profile-form {
    float: right;
    line-height: 80px;
}
.profile-image {
    position: absolute;
    top: -24px;
}
.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}
.container {
    display: flex;
    margin-top: 2em;
}

.profile-details,
.who-to-follow {
    width: 25%;
}

.timeline {
    width: 50%;
}

.profile-details, .who-to-follow {
    width: 25%;
}


.who-to-follow h3 {
    flex-basis: 100%;
}
.timeline {
    width: 50%;
    margin-right: 5em;
}
.profile-items {
    padding: 0;
    list-style: none;
}
.profile-entry {
    margin: .5em;
}
.media {
    width: 100%;
    background-color: var(--light-bg);
    border-bottom: 1px solid var(--separator-color);
    padding: .5em;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.media-image {
    max-width: 50px;
    float: left;
    margin-top: 1.33em;
}
.media-body {
    width: calc(100% - 50px);
}