{
margin:0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: "American Typewriter";
}

.input{
    text-align: center;
    margin: 100px 0;
}

input[type="text"]{
    height: 50px;
    width: 600px;
    background: #08ffd1;
    font-family: "Yusei Magic";
    font-weight: bold;
    font-size: 20px;
    border: #277582;
    border-radius: 4px;
    text-align: center;
    padding: 10px 10px;
}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background: #08ffd1;
    font-family: "Yusei Magic";
    font-weight: bold;
    font-size: 20px;
    border: #277582;
    border-radius: 4px;
    text-align: center;
}

.card{
    width: 50%;
    background: #e7e7e7;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
}


.close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
}

.card h1{
    padding: 5px 0;
    text-align: center;
}

.card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
}